<html lang="en">
    <%- include("./partials/header.ejs")  %>
<body>
    <header>
        <a href="#"><img src="public/img/logo1.jpg" alt="company Logo" class="logo"></a>
        <%- include('./partials/navpublic.ejs') %>
    </header>
    <div class="logcontainer">
        <div class="section">
            <h1>Login</h1>
            <br>
            <form action="/auth" method="post" onsubmit="encryptPassword()">
                <input type="text" name="username" placeholder="User Name" id="username" required>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <input type="hidden" name="encryptedPassword" id="encryptedPassword">
                <input type="submit" value="Login">
            </form>
            <h3>New Users Please Register</h3>
            <% if (typeof success !== 'undefined') { %>
                <h2>Hi <%= name %> <br>You are <%= success %></h2>
            <% } %>
        </div>
    </div>
    <br><br>
    <%- include("./partials/footer.ejs")  %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.4.2/sha.js"></script>
    <script>
        function encryptPassword() {
            var password = document.getElementById('password').value;
            var shaObj = new jsSHA("SHA-256", "TEXT");
            shaObj.update(password);
            var hash = shaObj.getHash("HEX");
            document.getElementById('encryptedPassword').value = hash;
            document.getElementById('password').value = '';
        }
    </script>
</body>
</html>