<html lang="en">
    <%- include("./partials/header.ejs")  %>
<body>
    <header>
        <a href="#"><img src="public/img/logo1.jpg" alt="company Logo" class="logo"></a>
        <%- include('./partials/navprivate.ejs') %>
    </header>
    <div class="container">
        <div class="section2">
            <%- include('./partials/menu.ejs') %>
        </div>
        <div class="section3">
            <h1>Search Products by Customer</h1>
            <form action="/search" method="post">
              <label for="cusIDemail">Customer ID OR eMail:</label>
              <input type="text" id="cusIDemail" name="cusIDemail" placeholder="Customer ID OR eMail">
              <button type="submit">Search</button>
            </form>
          
            <% if (results && results.length > 0) { 
                var i =0;  %>
                <h2>Customer Details</h2>
                <table class="table">
                  <thead>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Customer ID</strong></td>
                      <td><%= results[0].customerId %></td>
                    </tr>
                    <tr>
                    <tr>
                      <td><strong>Name</strong></td>
                      <td><%= results[0].name %></td>
                    </tr>
                    <tr>
                      <td><strong>Address</strong></td>
                      <td><%= results[0].address %></td>
                    </tr>
                    <tr>
                      <td><strong>Phone #</strong></td>
                      <td><%= results[0].phone %></td>
                    </tr>
                    <tr>
                      <td><strong>email</strong></td>
                      <td><%= results[0].email %></td>
                    </tr>
                  </tbody>
                </table>           

                <h2>Products for Customer ID <%= results[0].customerId %></h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Warranty</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Warranty Expiry</th>
                      </tr>
                    </thead>
                <% results.forEach(result => { 
                  
                  var formattedDate = result.dateOfPurchase.getDate() + "/" + (result.dateOfPurchase.getMonth() + 1) + "/" + result.dateOfPurchase.getFullYear(); 

                  var warrantyDate = result.dateOfPurchase.getDate() + "/" + (result.dateOfPurchase.getMonth() + 1) + "/" + (result.dateOfPurchase.getFullYear() + result.warranty);

                  i += 1 %>
                  <tbody>
                    <tr>
                      <th scope="row"><%= i %></th>
                      <td><%= result.id %></td>
                      <td><%= formattedDate %></td>
                      <td><%= result.productType %></td>
                      <td><%= result.brand %></td>
                      <td><%= result.model %></td>
                      <td><%= result.warranty %> Year</td>
                      <td><%= result.serialNumber %></td>
                      <td><%= warrantyDate %></td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
              <h2>Number of Products Purchased: <%= i %> </h2>
              <button onclick="printSection()">Print</button>     
            <% } %>
        </div>
    </div>
    <%- include("./partials/footer.ejs")  %>

    <script>
        function printSection() {
            const printContent = document.querySelector('.section3').innerHTML;
            const originalContent = document.body.innerHTML;
            document.body.innerHTML = printContent;
            window.print();
            document.body.innerHTML = originalContent;
        }
    </script>
</body>
</html>